.App {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #242928;
}

.map-container {
  flex:1;
}

#pac-input {
  margin-top: 10px;
  background-color: #242928;
  color: orange;
  border: solid 3px #4F2B03;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.5em;
  width: 90%;
  height: 3%;
}

#pac-input:focus-visible {
  outline: none;
}

.pac-container {
  background-color: #242928;
  border: solid 2px #ff5e00;
}

.pac-container span {
  color: azure;
}
.pac-container span .pac-matched {
  color: #ff5e00;
}

.pac-item:hover {
  background-color: #757474 !important;
}

.weather {
  width: 50vw;
  height: 100%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  border-left: solid 0.5vw #464646;
  overflow: scroll;
}

.weather .close {
  display: none;
}

.weather > p {
  color: orange;
  font-size: 30px;
  text-align: center;
}

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: azure;
  margin-bottom: 40px;
}

.current > .day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.current .date {
  font-size: 2em;
  text-align : center;
}

.current .time {
  font-size: 1.5em;
}

.todays-weather {
  display: flex;
  align-items: center;
  gap: 20%;
}

.todays-weather img {
  height: 100px;
  margin-bottom: -15px;
}

.todays-weather > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.todays-weather .real {
  font-size: 2em;
  font-weight: 700;
}

.five-day {
  display: flex;
  align-items: center;
  color: azure;
  margin-bottom: 30px;
}

.days-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.days-container > .day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 15vw;
}

.days-container > .day > .symbology {
  margin-bottom: -5px;
}

.days-container > .day > .percip-chance {
  margin-bottom: 10px;
}

.days-container .temps {
  display: flex;
  gap: 8px;
}

.days-container .temps:nth-child(1){
  width: 1.1rem;
}

.days-container .min-temp {
  color: aqua;
}

.days-container .max-temp {
  color: #ff5e00;
}

.todays-forcast {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.todays-forcast .title {
  color: azure;
  font-size: 2em;
  margin-bottom: 10px;
}

.forcast-chart {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  margin-top: auto;
  color: azure;
}

.footer a {
  text-decoration: none;
  color: #ff5e00;
}

@media (max-width: 1300px) and (min-width: 800px){

  .weather .close {
    display: block;
    position: absolute;
    top: -18px;
    right: 25vw;
    margin-top: 2vw;
    background-color:#464646;
    color: azure;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
  }

  .weather {
    width: 25vw;
  }

  .weather .current .date {
    display: none;
  }

  .weather .five-day .days-container {
    flex-direction: column;
  }

  .weather .todays-forcast {
    display: none;
  }

  .weather.open {
    width: 65vw;
    align-items: center;
  }

  .weather.open .close {
    right: 65vw;
  }

  #pac-input.open {
    width: 28vw;
  }

  .weather.open > div {
    width: 90%;
  }

  .weather.open .current .date {
    display: flex;
  }

  .weather.open .five-day .days-container {
    flex-direction: row;
  }

  .weather.open .todays-forcast {
    display: flex;
  }
}

@media (max-width: 1150px) and (min-width: 800px){

  .todays-weather {
    flex-direction: column;
    gap: 30px;
  }

  .weather.open .todays-weather {
    flex-direction: row;
    gap: 20%;
  }
}

@media screen and (max-width: 800px){

  #pac-input {
    height: 5vh;
    font-size: 4vh;
  }

  .weather {
    position: relative;
    width: 0;
    padding: 0;
    transition: all .1s;
    border: 0;
  }

  .weather .close {
    display: block;
    position: absolute;
    align-self: flex-start;
    margin-top: 2vw;
    background-color:#464646;
    color: azure;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    width: 10vw;
    height: 10vw;
  }

  .weather.open {
    width: 100vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 10px;
    margin-left: 10px;
  }

  .forcast-chart {
    width: 95vw;
  }
}